[user]
  email = matteeyah@gmail.com
  name = Matija Čupić
  signingkey = 4BAF84FFACD2E5DE
[core]
  editor = vim
  pager = delta
[color]
  ui = true
[commit]
  gpgsign = true
[interactive]
    diffFilter = delta --color-only
