[user]
  email = mail@matteeyah.com
  name = Matija Čupić
  signingkey = 4BAF84FFACD2E5DE
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[color]
  ui = true
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
[interactive]
  diffFilter = delta --color-only
[commit]
  gpgsign = true
[merge]
  conflictStyle = zdiff3
[rebase]
    updateRefs = true
[alias]
  pristine = !sh -c 'git checkout master && git branch | grep -v master | xargs git branch -D'
