[user]
  email = matteeyah@gmail.com
  name = Matija Čupić
  signingkey = 4BAF84FFACD2E5DE
[core]
  editor = nvim
  pager = delta
[color]
  ui = true
[commit]
  gpgsign = true
[interactive]
  diffFilter = delta --color-only
[alias]
  pristine = !sh -c 'git checkout master && git branch | grep -v master | xargs git branch -D'
