[user]
  email = mail@matteeyah.com
  name = Matija Čupić
  signingkey = AB6E299831ADB7729DAB11A92E10AF695CED3C18
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[color]
  ui = true
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
[interactive]
  diffFilter = delta --color-only
[commit]
  gpgsign = true
[merge]
  conflictStyle = zdiff3
[rebase]
  updateRefs = true
[init]
  defaultBranch = master
[alias]
  pristine = !sh -c 'git checkout master && git branch | grep -v master | xargs git branch -D'
  master = !git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'
  changed = "!f() { git diff \"${1:-HEAD~1}\"...HEAD --name-only; }; f"
